.first-wrapper {background-color: #1f2937;color:#fff;justify-content:space-evenly;}
.footer {background-color: #1f2937;}
.third-content {background-color: #e5e7eb;}
.right-first img {max-width:300px; flex:1}
.flex {display:flex;}
.logo {flex:1;}
.menu {flex:1;}
.menu-1 {flex:1;}
.menu-2 {flex:1;}
.menu-3 {flex:1;}
.wrapper {}
body {margin:0 auto;}
.header {padding-top:20px;justify-content:space-evenly;}
.left-first {flex:1}
.right-first {flex:1;justify-content: space-evenly;}